section.about
    .container 
        +blockHeader("What whe do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa fugiat distinctio eaque porro sequi possimus quas natus velit, dignissimos vel tempore, omnis assumenda nemo, numquam saepe reprehenderit dicta voluptates?")
        .about-list 
            +aboutItem(
                "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__480.jpg",
                "fa fa-user",
                "WF Nguyễn"
            )
            +aboutItem(
                "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__480.jpg",
                "fa fa-user",
                "WF Nguyễn"
            )
            +aboutItem(
                "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__480.jpg",
                "fa fa-user",
                "WF Nguyễn"
            )