section.blog
    .container 
        +blockHeader("Our stories", "Latest blog")
        .blog-list 
            .blog-item
                .blog-image 
                    img(src="https://media.istockphoto.com/photos/workplace-with-notebook-laptop-comfortable-work-table-in-office-picture-id576591482?k=20&m=576591482&s=170667a&w=0&h=ruDf4NbUcjg8dvYP7wNX6Vc1SaWuzvK_jeVS_LV1HZo=").blog-img
                    .blog-image-calendar
                        h4 15
                        span Jun
                .blog-info 
                    h5.blog-title Lorem ipsum dolor sit, amet
                    p.blog-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum officiis vero, quam animi commodi quod dolor accusamus illo, dolorem laboriosam distinctio.
                .blog-interactive
                    i.fas.fa-eye.blog-icon
                    span 333
                    i.fas.fa-comments.blog-icon
                    span 666
            .blog-item
                .blog-image
                    img(src="https://media.istockphoto.com/photos/workplace-with-notebook-laptop-comfortable-work-table-in-office-picture-id576591482?k=20&m=576591482&s=170667a&w=0&h=ruDf4NbUcjg8dvYP7wNX6Vc1SaWuzvK_jeVS_LV1HZo=").blog-img
                    .blog-image-calendar
                        h4 15
                        span Jun
                .blog-info 
                    h5.blog-title Lorem ipsum dolor sit, amet
                    p.blog-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum officiis vero, quam animi commodi quod dolor accusamus illo, dolorem laboriosam distinctio.
                .blog-interactive
                    i.fas.fa-eye.blog-icon
                    span 333
                    i.fas.fa-comments.blog-icon
                    span 666
            .blog-item
                .blog-image 
                    img(src="https://media.istockphoto.com/photos/workplace-with-notebook-laptop-comfortable-work-table-in-office-picture-id576591482?k=20&m=576591482&s=170667a&w=0&h=ruDf4NbUcjg8dvYP7wNX6Vc1SaWuzvK_jeVS_LV1HZo=").blog-img
                    .blog-image-calendar
                        h4 15
                        span Jun
                .blog-info 
                    h5.blog-title Lorem ipsum dolor sit, amet
                    p.blog-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum officiis vero, quam animi commodi quod dolor accusamus illo, dolorem laboriosam distinctio.
                .blog-interactive
                    i.fas.fa-eye.blog-icon
                    span 333
                    i.fas.fa-comments.blog-icon
                    span 666   
section.map 
    i.fas.fa-map-marker-alt
    h2 Open map
    