section.footer 
    .container
        .footer-content
            .footer-contact.footer-content-item
                h1.footer-contact-title MoGo
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, temporibus ex! Dicta cumque veritatis dolore autem vero vitae explicabo enim nostrum iusto. Unde minima neque laudantium dolor asperiores porro delectus.
                .footer-follower 
                    strong 15k
                    span followers 
                .footer-social 
                    span Follow us 
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                    i.fab.fa-facebook-f
                .footer-subscribe
                    input(type="email").footer-email
                    button.footer-email-btn Subscribe
            .footer-blog.footer-content-item
                h3.footer-blog-title.footer-title Blogs 
                .footer-blog-list
                    .footer-blog-item 
                        img(src="https://simplepage.vn/blog/wp-content/uploads/2021/06/huong-dan-tao-blog-website.png", alt="").footer-blog-image
                        .footer-blog-info 
                            h2.footer-blog-name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem voluptates quia quas iste. Tempora 
                            p.footer-blog-calender 12/10/2000
                    .footer-blog-item 
                        img(src="https://simplepage.vn/blog/wp-content/uploads/2021/06/huong-dan-tao-blog-website.png", alt="").footer-blog-image
                        .footer-blog-info 
                            h2.footer-blog-name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem voluptates quia quas iste. Tempora 
                            p.footer-blog-calender 12/10/2000
                    .footer-blog-item 
                        img(src="https://simplepage.vn/blog/wp-content/uploads/2021/06/huong-dan-tao-blog-website.png", alt="").footer-blog-image
                        .footer-blog-info 
                            h2.footer-blog-name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem voluptates quia quas iste. Tempora 
                            p.footer-blog-calender 12/10/2000
            .footer-insta.footer-content-item
                h3.footer-blog-title.footer-title Instagram
                .footer-insta-list
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                        .footer-insta-image
                            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg", alt="")
                p.footer-insta-more See more photos
    .footer-bottom &copy; 2021 Mogo free PSD template by <span> WF Nguyễn</span>