section.number
    .container 
        .number-list 
            +numberItem("42", "Web design project")
            +numberItem("123", "Client")
            +numberItem("15", "Award winner")
            +numberItem("99", "Genshin Impact")
            +numberItem("24", "Member")
            