section.people 
    .container 
        +blockHeader("Happy clinet", "What people say")
        .people-list
            .people-item 
                img(src="https://media.bongda.com.vn/resize/543x362/files/thach.pham/2022/01/07/0_gettyimages-1362746586-0537.jpg").people-image
                .people-item-info 
                    .people-name Cristiano 
                    .people-job Fronend developer 
                    .people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure earum laborum
            .people-item 
                img(src="https://media.bongda.com.vn/resize/543x362/files/thach.pham/2022/01/07/0_gettyimages-1362746586-0537.jpg").people-image
                .people-item-info 
                    .people-name Cristiano 
                    .people-job Fronend developer 
                    .people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure earum laborum
            .people-item 
                img(src="https://media.bongda.com.vn/resize/543x362/files/thach.pham/2022/01/07/0_gettyimages-1362746586-0537.jpg").people-image
                .people-item-info 
                    .people-name Cristiano 
                    .people-job Fronend developer 
                    .people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure earum laborum
            .people-item 
                img(src="https://media.bongda.com.vn/resize/543x362/files/thach.pham/2022/01/07/0_gettyimages-1362746586-0537.jpg").people-image
                .people-item-info 
                    .people-name Cristiano 
                    .people-job Fronend developer 
                    .people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure earum laborum