section.quote 
    .container 
        .quote-container 
            i.fa.fa-angle-left.quote-arrow
            .quote-content 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet doloremque hic maiores doloribus voluptatibus, deserunt quis officiis, blanditiis dolores voluptas qui nobis natus quae provident vitae, molestias aperiam vero iusto.
                    span.quote-author Jon Doe 
            i.fa.fa-angle-right.quote-arrow