section.service 
    .container 
        +blockHeader("We work with", "Amazing service")
        .service-list 
            +serviceItem("fa fa-cog",
            "Photography",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam")
            
            +serviceItem("fa fa-cog",
            "Photography",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam")
            
            +serviceItem("fa fa-cog",
            "Photography",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam")
            
            +serviceItem("fa fa-cog",
            "Photography",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam")
            
            +serviceItem("fa fa-cog",
            "Photography",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam")
            
            +serviceItem("fa fa-cog",
            "Photograph &-item-&-item-&-item-&-item-&-item-&-item-",
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet quasi nam") 