section.team 
    .container 
        +blockHeader("Who are you", "Meet out team", "Ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quam, optio corporis qui veniam nobis, nulla a doloribus beatae veritatis blanditiis at repellendus dolore quaerat iure minima. Similique, quis soluta.")
        .team-list 
            .team-item 
                .team-main 
                    img(src="../images/img-team1.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-youtube
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-google
                .team-info
                    h3.team-name WF Nguyễn 
                    span.team-position Frontend Team
            .team-item 
                .team-main 
                    img(src="../images/img-team1.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-youtube
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-google
                .team-info
                    h3.team-name WF Nguyễn 
                    span.team-position Frontend Team
            .team-item 
                .team-main 
                    img(src="../images/img-team1.png").team-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-youtube
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                            li.team-social-item
                                a.team-social-link(href="#")
                                    i.fab.fa-google
                .team-info
                    h3.team-name WF Nguyễn
                    span.team-position Frontend Team

.section.brand 
    .container 
        img(src="../images/img-logos.png")