section.wedo
    .container 
        +blockHeader("Service", "What we do", "ipsum dolor, sit amet consectetur adipisicing elit. Earum quas, aliquid tempore corrupti obcaecati, magni cumque error, molestiae repellendus delectus minima dolorum quia praesentium optio numquam necessitatibus rerum in. Aut.")
        .wedo-container
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content 
                +wedoItem("../images/img-wedo-icon1.png",
                "Photography",
                "fa fa-angle-down",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam",
                "is-active")

                +wedoItem("../images/img-wedo-icon1.png",
                "Creativity",
                "fa fa-angle-down",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam")
                
                +wedoItem("../images/img-wedo-icon1.png",
                "Web design",
                "fa fa-angle-down",
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda impedit ab repudiandae at magni, molestiae rerum nobis dignissimos aut beatae? Repudiandae ab quam deserunt ex, molestias culpa fugit magnam")