section.work
    .container 
        +blockHeader("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati est sapiente, modi minus nisi quam assumenda animi. Non ad, magni vel voluptates atque tempora est nihil consequatur quod quis libero.") 
    .work-blocks 
        .work-block.work-block-left
            .work-item
                img(src="../images/img-work1.png").work-left-image
                .work-content
                    i.fa.fa-home
                    h3.work-title WF Nguyễn
            .work-item
                img(src="../images/img-work2.png").work-left-image
                .work-content
                    i.fa.fa-home
                    h3.work-title WF Nguyễn
            .work-item
                img(src="../images/img-work3.png").work-left-image
                .work-content
                    i.fa.fa-home
                    h3.work-title WF Nguyễn
            .work-item
                img(src="../images/img-work4.png").work-left-image
                .work-content
                    i.fa.fa-home
                    h3.work-title WF Nguyễn
        .work-block.work-block-right
            .xx
                .work-item
                    img(src="../images/img-work5.png").work-left-image
                    .work-content
                        i.fa.fa-home
                        h3.work-title WF Nguyễn
            .xx 
                .work-item
                    img(src="../images/img-work6.png").work-left-image
                    .work-content
                        i.fa.fa-home
                        h3.work-title WF Nguyễn
                .work-item
                    img(src="../images/img-work7.png").work-left-image
                    .work-content
                        i.fa.fa-home
                        h3.work-title WF Nguyễn
